In [1]:
import numpy as np
import pandas as pd

# <span style="color: red;"> 1. Introducing Pandas Object</span>

## Series là mảng 1 chiều có chỉ mục

In [2]:
data  = pd.Series([0.25, 0.5, 0.75, 1.0])

In [3]:
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [4]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

### Giống với np array, dữ liệu có thể dc truy cập bởi index

In [5]:
data[1]
data[1:3]

1    0.50
2    0.75
dtype: float64

### Về cơ bản đối tượng series giống vs mảng một chiều np 
Khác nhau ở chỗ Series có chỉ mục rõ ràng liên kết với giá trị còn numpy array cho chỉ mục được xác định ngầm điều này giúp Series có khả năng bổ sung. 
Vd: chỉ mục k cần là số nguyên mà có thể là chuỗi, không cần liền kề và k tuần tự

In [6]:
data = pd.Series([1,2,3,4], index = ['a', 'b', 'c','d'])
data

a    1
b    2
c    3
d    4
dtype: int64

In [7]:
data['b']

2

### Có thể xem Series giống như một dictionary {} đặc biệt

In [8]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

## DataFrame là một mảng numpy tổng quát là mảng hai chiều với chỉ mục và tên cột linh hoạt. 
Có thể xem DF là một loạt các Series có cùng chỉ mục

In [9]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
             'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [10]:
states  = pd.DataFrame({'population': population, 'area': area})
states

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

### Xây dựng df từ một đối tượng Series duy nhất
Một df là một tập hợp series các đối tượng và một cột df có thể tạo từ một series

In [11]:
pd.DataFrame(population, columns = ['populations'])

            populations
California     38332521
Texas          26448193
New York       19651127
Florida        19552860
Illinois       12882135

### Xây dựng df từ một danh sách dictionary

In [12]:
data  = [{'a': i , 'b': 2*i} for i in range(3)]
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

nếu key trong dict mà missing thì trả về giá trị NaN

In [13]:
pd.DataFrame([{'a': 1, 'b':2},{'b':3, 'c':4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

### Xây dựng df từ một dict các đối tượng Series

In [14]:
pd.DataFrame({'population':population, 'area':area})

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

### Xây dựng df từ mảng numpy hai chiều

In [15]:
pd.DataFrame(np.random.rand(3,2), columns = ['foo', 'bar'], index = ['a', 'b','c'])

        foo       bar
a  0.074298  0.864098
b  0.787519  0.259299
c  0.411268  0.666033

### Xây dựng df từ một mảng numpy có cấu trúc

In [16]:
A = np.zeros(3, dtype= [('A', 'i8'), ('B', 'f8')])
A

array([(0, 0.), (0, 0.), (0, 0.)], dtype=[('A', '<i8'), ('B', '<f8')])

In [17]:
pd.DataFrame(A)

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

##  Pandas Index Object

### Index là một mảng immutable như một set có thứ tự

In [18]:
ind = pd.Index([2,3,4,5,11])
ind

Int64Index([2, 3, 4, 5, 11], dtype='int64')

### Có thể sử dụng union, intersections, difference và các phép toán khác như set

# <span style="color: red;"> 2. Data Indexing and Selection</span>

## Data Selection in Series

In [19]:
data = pd.Series([0.25, 0.5, 0.75, 1.0], index = ['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64